@media screen and (max-width: 768px) {
    /* start: centering brand name */
    .navbar-header .navbar-brand {
        font-family: 'Audiowide';
        color: #fff;
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        text-align: center;
        margin: auto;
    }
    /* end */
    .map-section {
    	margin-top: -20px;
    }

    /* start: stop collapsing */

    /* end */
}
