@media screen and (max-width: 768px) {
    /* start: centering brand name */
    .navbar {
        box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    }

    .navbar-header .navbar-brand {
        font-family: 'Audiowide';
        color: #fff;
        position: absolute;
        width: 100%;
        left: 0;
        top: 0;
        text-align: center;
        margin: auto;
    }

    .navbar-item {
        display: none;
    }

    .category-nav {
        display: none;
    }
    /* end */
    .map-section {
    	margin-top: -20px;
    }
    /* start: stop collapsing */

    /* end */
}

@media screen and (min-width: 769px) {
    .navbar-item {
        display: block;
    }

    .category-nav {
        display: block;
    }
}
