html, body {
	width: 100%;
	height: 100%;
}

.navbar {
	background-color: #5C5EDC;
	width: 100%;
}

.navbar .container-fluid {
	background-color: #5C5EDC;
}

.navbar-header .navbar-brand {
	font-family: 'Audiowide';
	color: #fff;
}

.navbar-item .navbar-form {
	margin-top: 10px;
}

.form-control {
	border-right: none;
}

.form-control:focus {
	border-color:#ccc;
	outline: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

.input-group-addon {
	background-color: #fff;
}

.navbar-item .nav > li > a {
	font-family: 'Audiowide';
	color: #fff;
}

.navbar-item .nav > li > a:hover,
.navbar-item .nav > li > a:focus,
.navbar-item .nav > li > a:active,
.navbar-item .nav > li > a:visited {
	background-color: inherit;
	border-bottom: 2px solid #fff;
}

.navbar-item .nav > li > a:link {
	background-color: inherit;
}

.navbar-item .nav .dropdown-menu {
	position: absolute;
	height: 300px;
	width: 300px;
	color: black;
}

.category-nav {
	z-index: 1029;
	margin-top: 52px;
	background-color: #424242;
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.category-nav .nav > li > a {
	font-family: 'Audiowide';
	font-size: 12px;
	color: white;
	height: 52px;
	width: 109px;
	text-align: center;
}

.category-nav .nav > li > a:hover,
.category-nav .nav > li > a:focus,
.category-nav .nav > li > a:active {
	background-color: inherit;
	border-bottom: 2px solid #fff;
}

.map-section {
	margin-top: 100px;
	height: 100%;
	width: 100%;
}

.event-section {
	height: 100%;
	width: 100%;
	background-color: silver;
}

#map {
	height: 100%;
	width: 100%;
}

.infowindow {
	width: 200px;
	text-align: center;
}

.infowindow .link {
	color: #5C5EDC;
	font-weight: bold;
	font-size: 16px;
}

.infowindow .link:hover {
	text-decoration: none;
}

.infowindow .line {
	margin-top: 15px;
	border-bottom: 1px solid silver;
	margin-bottom: 15px;
}

.infowindow p {
	font-weight: bold;
}
